@font-face {
  font-family: 'Quicksand Bold';
  src: url('fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

$darkblue: rgb(0, 48, 60);
$copycolor: rgb(74, 74, 73);
$yellow: rgb(255, 242, 0);
