// Begin Mailchimp Signup Form
#mc_embed_signup
    form#mc-embedded-subscribe-form.validate(action='https://tacpic.us12.list-manage.com/subscribe/post?u=9b41f9ebfdaf1f8ff2bc21e38&id=54f610fefa', method='post', name='mc-embedded-subscribe-form', target='_blank')
        label.sr-only(for='mce-EMAIL') E-Mail
        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', style='width: 100%;', placeholder='E-Mail-Adresse hier eingeben', required)
        label#gdpr-label(style='width: 100%; margin-left: 2px; display: flex;', for='gdpr_45773')
            input#gdpr_45773(name='gdpr[45773]', value='Y', type='checkbox', required='')
            span(style='margin-left: 12px')
                | Ich habe die Daten­schutz­be­stim­mun­gen von tacpic und dem Marketing-Dienstleister&nbsp;
                a(href='/datenschutz.html', title='Sie erhalten dort Informationen zu den Inhalten, der Proto­kol­lierung Ihrer An­meldung, dem Versand über den US-Anbieter MailChimp, der sta­tis­tisch­en Aus­wertung sowie Ihren Ab­bestell­möglich­keiten.', target='_blank') hier
                |  zur Kennt­nis genom­men.
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_9b41f9ebfdaf1f8ff2bc21e38_54f610fefa', tabindex='-1', value='')
        button#mc-embedded-subscribe.primary(style='width: 100%;', type='submit', value='Anmelden', name='subscribe') Anmelden