---
title: tacpic -- ertastbare Grafiken für sehbehinderte Menschen
_options:
  layout: app/layouts/main.static.jade
---

section(style="text-align: center;")
    a(href="/")
        img(style="width: 300px;")(src="img/logo.svg")
section.container
    .row
        .col-8.offset-2
            | {{content}}